
.article {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 406px;
    margin: 30px 1%;
    perspective: 1000px;
    left: -10px;
}

.article:hover .flipper, 
.article.hover .flipper {
    transform: rotateY(180deg);
}

.article .flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
   -webkit-backface-visibility: hidden;    
	backface-visibility: hidden;
	position: absolute;
    width: 300px;
    height: 360px;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
    z-index: 1;
	transform: rotateY(180deg);
    background-color: #6c757d;
    color: #fff;
    padding: 50px 20px;
    box-sizing: border-box;
    text-align: center;
}

.back > h4{
    font-weight: bold;
    color: #000;
}

.article .article-image img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    border: 0px;
}

.article-details {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 46px;
    background-color: #000;
    color: #ddbe86;
}

.article-title{
    width: 80%;
    height: auto;
    padding: 0%;
    margin-left: 20%;
    color:   #ddbe86;
    font-weight: bold;
}

.article-price {
    width: 20%;
    height: auto;
    padding-left: 3px;
    float: left;
    color:  rgb(155, 8, 8);
    font-weight: bold;
}

.article-title > h4, .article-price > p {
    width: 100%;
    height: auto;
    font-size: 150%;
    margin: 0;
    text-align: center;
    line-height: 175%;
}