



@media screen and (min-width: 768px){

    .lblOrdini{
        font-size: x-large;
    }

    .divDati{
        padding-top: 2%;
    }

    .lblCarrello{
        font-size: x-large;
    }


    .imgArt{
        width: 1000px!important;
        height:auto!important;
       
    }



}


@media screen and (max-width: 400px){

    .divArtCarr{
        padding-top: 0%!important;
        margin-top: 0%!important;
    }


}
