
#user{
    width: 150px;
    height: auto;
}


article > h2{
    margin-top: 10px;
}

.articolo{
    width: 450px;
    height: 250px;
    display: inline-flex;
    border: 1px solid #000;
}

.image{
    width: 50%;
    height: 200px;
    float: left;
}

.image img{
    width: 100%;
    margin: 5px;
}

.description{
    width: 50%;
    height: 200px;
    text-align: center;
}

.description h4{
    margin: 5px 0 10px 0;
}
html, .container{
    height: 100%;
    margin: 0;
    padding: 0; }

.push {
    height: 140px; 
}

.pushNotifiche{
    height: 285px;
}


    

@media screen and (max-width: 400px){



    .articolo{
        width: 90%;
        height: 200px;
        margin: 10px 0 10px 0;
    }

    .image{
        width: 50%;
        height: 200px;
        float: left;
        left: 0;
    }
    
    .image img{
        width: 100%;
        margin: 5px;
    }
    
    .description{
        width: 50%;
        height: 200px;
        text-align: center;
        left: 1;
        font-size: 10px;
    }

    .description > h4{
        font-size: 20px;
    }

}

@media screen and (min-width: 768px){
    
    #logo {
        height: 250px!important;
        width: 1200px!important;
        padding-left: 15%!important;
    }
}