
.pezzo{
    width: 450px;
    height: 250px;
    font-size: 12px;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    margin-right: 1%;
}

.articles{
    width: 100%;
    height: 85%;
    display: inline-flex;
    border: 1px solid #000;
}

.image{
    width: 50%;
    height: 100%;
    float: left;
}

.image img{
    width: 100%;
    
}

.description{
    width: 50%;
    height: 100%;
    text-align: center;
}

.description h4{
    margin: 15px 0 15px 0;
}

.altro{
    width: 100%;
    text-align: center;
    display: inline-flex;
    height: 15%;
    border: 1px solid #000;
}

.quantita{
    width: 80%;
    height: 100%;
    text-align: center;
    display: inline-flex;
}

.label{
    width: 200px;
    height: 100%;
    text-align: right;
}

.bottone{
    width: 200px;
    height: 100%;
    text-align: left;
    padding-left: 3px;
}

.delete{
    width: 20%;
    height: 100%;
    float: right;
    text-align: right;
}

.delete > a{
    width: 100%;
    height: 100%;
}

.delete > a > img{
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 400px){

    .pezzo{
        width: 100%;
        height: 170px;
        margin: 10px 0 10px 0;
    }

    .articolo{
        height: 100%;
    }

    .image{
        width: 50%;
        height: 100%;
        float: left;
        left: 0;
    }
    
    .image img{
        width: 100%;
        margin: 5px;
    }
    
    .description{
        width: 50%;
        height: 100%;
        text-align: center;
        left: 1;
        font-size: 10px;
    }

    .description > h4{
        font-size: 20px;
    }

    .altro{
        margin: 0;
        height: auto;
    }

    .quantita{
        height: 100%;
        display: inline-flex;
    }

    form{
        width: 100%;
    }

    .delete{
        height: 100%;
    }

    .label{
        width: 100%;
    }

    .bottone{
        width: 50%;
    }

}